@charset "UTF-8";

/*-----------------------------------------------------------
div
------------------------------------------------------------*/

div {
    text-align: left;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*-----------------------------------------------------------
clearfix
------------------------------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix {
    display: inline-block;
}


/* exlude MacIE5 \*/

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block;
}

.flexBox {
    display: flex;
}

.flexBox--center {
    align-items: center;
}

.flexBox--top {
    align-items: flex-start;
}

.flexBox--between {
    justify-content: space-between;
}

.flexBox--arround {
    justify-content: space-around;
}

.flexBox--start {
    justify-content: flex-start;
}

.flexBox--wrap {
    flex-wrap: wrap;
}


/* end MacIE5 */


/*-----------------------------------------------------------
reset
------------------------------------------------------------*/

img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    border: 0;
    line-height: 1;
    max-width: 100%;
}

table img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea {
    margin: 0;
    font-size: 100%;
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}

dl,
dt,
dd,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}


/*-----------------------------------------------------------
Link
------------------------------------------------------------*/

a:link {
    color: #444;
    text-decoration: none;
}

a:visited {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #aaa;
    text-decoration: none;
    -moz-transition: all 0.26s ease-out;
    -o-transition: all 0.26s ease-out;
    -webkit-transition: all 0.26s ease-out;
    -ms-transition: all 0.26s ease-out;
}

a:active {
    color: #64AB18;
    text-decoration: none;
}


/*-----------------------------------------------------------
FONT Weight
------------------------------------------------------------*/

.fwB {
    font-weight: bold;
}


/*-----------------------------------------------------------
FONT Size
------------------------------------------------------------*/


/*-----------------------------------------------------------
FLOAT
------------------------------------------------------------*/

.floatL {
    float: left;
    display: inline-block;
}

.floatR {
    float: right;
    display: inline-block;
}


/*-----------------------------------------------------------
Text-Align
------------------------------------------------------------*/

.taL {
    text-align: left;
}

.taC {
    text-align: center;
}

.taR {
    text-align: right;
}


/*-----------------------------------------------------------
PAGE BOOT
------------------------------------------------------------*/

.imgMax {
    width: 100%;
}

.maxW {
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
}


/*-----------------------------------------------------------
Body
-------------------------------------------------------------*/

body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 100%;
    word-wrap: break-word;
}


/*-----------------------------------------------------------
Header
-------------------------------------------------------------*/

#logo img {
    height: 60px;
    line-height: 1;
    vertical-align: bottom;
}

#header {
    width: 100%;
    padding: 0 15px;
    left: 0;
    top: 0;
    z-index: 1000;
    position: relative;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}

#header {
    position: absolute;
}

.scroller {
    /* background: rgba(254,0,56,.3); */
    /* background: rgba(18,41,75,.3); */
    /* background: rgba(255,255,255,.65); */
    background: #fff;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.scroller .headerInner {
    box-shadow: none;
}

.headerInner {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.headBar {
    max-width: 1200px;
    margin: 25px auto 10px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subpage .headBar {
    color: #fff;
}

.subpage .scroller .headBar {
    color: #333;
}

.headBar .left {
    letter-spacing: 1px;
}

.headBar .left i {
    margin-left: 5px;
    margin-right: 10px;
}

.fa-clock-o {
    margin-left: 30px !important;
}

.wrapMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 850;
    background: #fff;
    display: none;
}

.rightHead {
    align-items: stretch;
}

.gNavi {
    align-items: stretch;
}

.gNavi li {
    display: flex;
}

.gNavi li a {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 30px 17px 13px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}

.gNavi li.searchMenu a {
    padding-right: 34px !important;
    padding-top: 25px !important;
}

.gNavi li.searchMenu a img {
    height: 20px !important;
}

.header_vn .gNavi li.searchMenu a {
    padding-left: 25px !important;
}

.header_vn .gNavi li a {
    font-size: 12px;
    padding: 30px 10px 13px;
}

#about .searchMenu {
    padding-right: 10px;
}

.searchMenu a {
    font-size: 16px !important;
}

.searchMenu img {
    line-height: 1;
    vertical-align: bottom;
    height: 25px;
}

.gNavi li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #006dfe;
    width: 100%;
    height: 3px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}

.gNavi li a:hover {
    color: #0c77f8;
}

.gNavi li a:hover::before {
    left: 0;
}

#top .gNavi li:nth-child(1) a::before {
    left: 0;
}

#about .gNavi li:nth-child(2) a::before {
    left: 0;
}

#services .gNavi li:nth-child(3) a::before {
    left: 0;
}

#guide .gNavi li:nth-child(4) a::before {
    left: 0;
}

#news .gNavi li:nth-child(5) a::before {
    left: 0;
}

#career .gNavi li:nth-child(6) a::before {
    left: 0;
}

#library .gNavi li:nth-child(7) a::before {
    left: 0;
}

.btnContact {
    text-transform: uppercase;
    text-align: center;
    display: block;
    background: #0c77f8;
    color: #fff !important;
    padding: 20px 26px;
}

.btnContact img {
    display: block;
    margin: 0 auto 5px;
}

.langBar {
    position: relative;
}

.langBar li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #000;
    text-transform: uppercase;
}

.subpage .langBar li a {
    color: #fff;
}

.subpage .scroller .langBar li a {
    color: #333;
}

.langBar li.active a {
    color: #0c77f8 !important;
    font-weight: 700;
}

.langBar li:first-child {
    border: none;
}

.contactHead .p1 {
    margin-right: 30px;
}

.contactHead .p1 span {
    display: block;
    font-size: 12px;
    color: #58595b;
    margin-left: 20px;
}

.contactHead .p1 em {
    font-style: normal;
    color: #00386b;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    line-height: 1.1;
}

.contactHead .p1 i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px;
    color: #00386b;
}

.contactHead .p3 {
    display: inline-block;
    color: #fff;
    background: #d61e36;
    font-weight: 600;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

.contactHead .p3 i {
    margin-right: 20px;
}

#breadcum {
    max-width: 1130px;
    padding: 20px 15px;
    margin: 0 auto 50px;
}

#breadcum ul li {
    display: inline-block;
    font-size: 13px;
    border-left: 1px solid #939598;
    padding: 0 15px;
    line-height: 1;
}

#breadcum ul li:first-child {
    padding-left: 0;
    border: none;
}

#breadcum ul li a {
    color: #d61e36;
}

.searchPart {
    background: rgba(12, 119, 248, .97);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.wrapSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
}

.wrapSearch input[type='text'] {
    width: 93%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    height: 40px;
    font-weight: 300;
    outline: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.wrapSearch ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}

.wrapSearch ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}

.wrapSearch :-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}

.wrapSearch :-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}

.submitBtn {
    border: none;
    background: transparent;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.closeSearch {
    position: absolute;
    top: 30px;
    right: 50px;
}


/*-----------------------------------------------------------
 Container/Maincontent
------------------------------------------------------------*/

div.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}


/*-----------------------------------------------------------
SubNavi
------------------------------------------------------------*/

#subNavi {
    width: 300px;
    float: left;
}


/*-----------------------------------------------------------
Footer
------------------------------------------------------------*/

#footer {
    width: 100%;
    background: #333333;
    margin-top: 50px;
}

#services #footer {
    margin-top: 0;
}

.footerInner {
    max-width: 1030px;
    margin: 0 auto;
    padding: 50px 15px;
}

.logoFoot {
    margin-bottom: 20px;
}

.leftFoot {
    color: #fff;
    font-size: 12px;
    line-height: 1.8;
}

.iconSocial {
    margin-bottom: 10px;
}

.iconSocial li {
    display: inline-block;
    margin: 0 15px;
}

.iconSocial li:last-child {
    margin-right: 0;
}

.iconSocial li a {
    color: #fff;
    font-size: 20px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}

.leftFoot,
.rightFoot {
    width: 50%;
}

.alignBot {
    align-self: flex-end;
}

.rightFoot {
    text-align: right;
}

.h3_foot {
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px;
}

.h4_footer {
    font-size: 22px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 70px;
}

#footerWrap .inputText {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    width: 45%;
    line-height: 40px;
    outline: none;
}

#footerWrap textarea {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    height: 200px;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    outline: none;
    margin-top: 20px;
}

.submitForm {
    display: block;
    border: none;
    background: #006dfe;
    font-size: 14px;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}

.txtFoot {
    font-size: 12px;
    color: #fff;
    opacity: .3;
}

.icon_footer {
    height: 36px;
}

.chargeBox {
    color: #fff;
    font-size: 12px;
    margin-top: 50px;
}

#pageTop {
    position: fixed;
    right: 4%;
    bottom: 90px;
    z-index: 1000;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.logo_footer {
    height: 54px;
}

.footerMenu li {
    display: inline-block;
    padding: 0 10px;
}

.footerMenu li a {
    color: #fff;
}

.footerInner .h4_footer {
    margin: 0;
}

.wp-pagenavi {
    clear: both;
    text-align: center;
    margin-top: 60px;
}

.wp-pagenavi a,
.wp-pagenavi span {
    text-decoration: none;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    margin: 0 5px;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    background: #0c77f8;
    color: #fff;
}

.wp-pagenavi span.current {
    font-weight: bold;
    color: #fff;
}

.txtFaxFoot {
    margin-left: 30px;
}

.nextpostslink {
    font-size: 0;
    background: url('../../img/subpage/btn_next.png') no-repeat center center;
    background-size: cover;
}

.previouspostslink {
    font-size: 0;
    background: url('../../img/subpage/btn_prev.png') no-repeat center center;
    background-size: cover;
}

.previouspostslink:hover {
    opacity: .6;
    background: url('../../img/subpage/btn_prev.png') no-repeat center center;
    background-size: cover;
}

.nextpostslink:hover {
    opacity: .6;
    background: url('../../img/subpage/btn_next.png') no-repeat center center;
    background-size: cover;
}

@media only screen and (min-width: 861px) and (max-width: 1072px) {
    .gNavi li a {
        padding: 30px 10px;
        font-size: 12px;
    }
    #logo img {
        height: 45px;
    }
    .btnContact {
        padding: 25px;
        font-size: 13px;
    }
    .header_vn .gNavi li a {
        font-size: 11px;
        padding: 30px 6px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 860px) {
    #logo img {
        height: 40px;
    }
    .gNavi li a {
        padding: 25px 8px;
        font-size: 11px;
    }
    .btnContact {
        padding: 25px 20px;
        font-size: 13px;
    }
    .header_vn .btnContact {
        font-size: 10px;
        padding: 20px 10px;
    }
    .header_vn .gNavi li a {
        font-size: 10px;
        padding: 20px 6px;
    }
    .header_vn .searchMenu img {
        height: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .pc,
    .onlypc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
    #logo img {
        height: 38px;
    }
    .subMenu {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        background: #333333;
        z-index: 900;
        display: none;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -webkit-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }
    .menuList {
        padding: 0 15px;
        margin-top: 15px;
    }
    .menuList li {
        padding: 20px 0;
        border-bottom: 1px solid #999;
    }
    .menuList li a {
        color: #fff;
        display: block;
    }
    .langBar {
        margin-top: 20px;
    }
    .langBar li {
        border-left: 1px solid #fff;
        line-height: 1;
    }
    .langBar li a {
        color: #999;
    }
    .langBar li.active a {
        color: #fff !important;
    }
    .btnContact_sp img {
        line-height: 1;
        vertical-align: bottom;
    }
    .infoSp {
        color: #999999;
        font-size: 12px;
        padding: 0 15px;
        margin-top: 70px;
    }
    .infoSp i {
        margin-right: 10px;
    }
    .fa-clock-o {
        margin-left: 30px;
    }
    #top .menuList li:nth-child(1) a {
        color: #0c77f8;
    }
    #top .menuList li:nth-child(1) {
        border-bottom: 1px solid #0c77f8;
    }
    #about .menuList li:nth-child(2) a {
        color: #0c77f8;
    }
    #about .menuList li:nth-child(2) {
        border-bottom: 1px solid #0c77f8;
    }
    #guide .menuList li:nth-child(4) a {
        color: #0c77f8;
    }
    #guide .menuList li:nth-child(4) {
        border-bottom: 1px solid #0c77f8;
    }
    #news .menuList li:nth-child(5) a {
        color: #0c77f8;
    }
    #news .menuList li:nth-child(5) {
        border-bottom: 1px solid #0c77f8;
    }
    #career .menuList li:nth-child(6) a {
        color: #0c77f8;
    }
    #career .menuList li:nth-child(6) {
        border-bottom: 1px solid #0c77f8;
    }
    #library .menuList li:nth-child(7) a {
        color: #0c77f8;
    }
    #library .menuList li:nth-child(7) {
        border-bottom: 1px solid #0c77f8;
    }
}